
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
    <script src="static/js/scripts.js" defer></script>
    {% block scripts %}
    <script src="{% static 'js/scripts.js' %}" defer></script>
    {% endblock scripts %}
    
</head>
<body>
    <link href="{% static 'css/stylecalc.css' %}" rel="stylesheet">
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="static/js/scripts.js" defer></script>
    
    <li><a href="/">Website</a></li> 
    
    <hr><br>
    
	<h1>Welcome to the calculator page</h1>
    <h1 id="myH"></h1>
    
    <!--put everything in grid-->
    <div class="calculator-grid">
        <div class="outputscreen">
            <div data-previous-number class="previous-number"></div>
                <div data-current-number class="current-number"></div>
        </div>

        <button data-all-clear class="span-two">AC</button>
            <button data-delete>Delete</button>
            <button data-operation>/</button>
            <button data-number>1</button>
            <button data-number>2</button>
            <button data-number>3</button>
            <button data-operation>*</button>
            <button data-number>4</button>
            <button data-number>5</button>
            <button data-number>6</button>
            <button data-operation>+</button>
            <button data-number>7</button>
            <button data-number>8</button>
            <button data-number>9</button>
            <button data-operation>-</button>
            <button data-number>.</button>
            <button data-number>0</button>
            <button data-equals class="span-two">=</button>
            



    </div>

    <!--start of upload/choose file-->
    <form enctype = "multipart/form-data" action = "save_file.py" method = "post">
        <p>File: <input type = "file" name = "filename" /></p>
        <p><input type = "submit" value = "Upload" /></p>
     </form>
     <!--end of upload/choose file-->
</body>
</html>