{% extends 'base1.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!--start for the modal part-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><!--opens modals
and is what is making font of the sidebar to be very small...try to get another link that opens the modal-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!--end for the modal part-->


 <!-- Trigger the modal with a button -->
 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add vehicle</button>

 <section class="forms" >
  
  <div class="container-fluid" style="padding: 10px;" id='notification-banner'>
    <div class="row">
     
      <div class="col-lg-12">  <div class="card">
      
          
          <div class="table-responsive">                       
              <table class="table table-striped table-hover " id="myTable">
              <thead>
                                              
                  <tr >
                      <th>Vehicle Image</th>
                      
              <th>Vehicle Name</th>
              <th >Year</th>
              <th >Type</th>
              <th>Status</th>
              <th>Action</th>							
                  </tr>
                  {% for records in query_table_content %}

        
                  <tr>
                   
                      <td>
                        {% if records.vehicle_image %}
                        <img src="{{records.vehicle_image.url}}" alt="{{book.title}}" style="width: 100px;">
                        {% else %}
                        <span class="text-muted">No cover</span>
                        {% endif %}

                      </td>
                      
                      <td>{{records.vehicle_name}}</td>
                      <td>{{records.year}}</td>
                      <td>{{records.vehicle_type}}</td>
                      <td>{{records.vehicle_status}}</td>
                      <td> <a href="{% url 'update_vehicle_details' records.id %}"><img src="{% static 'images/edit4.png'%}" width="30"></a></a>
                       <a href="{% url 'delete_vehicle' records.id %}"><img src="{% static 'images/delete.png'%}" width="30"></a></td>
                    
                    </thead>
                  <tbody>
                  </tbody>
                  {% endfor %}
              </table>
          </div>
      
      </div>
      </div>
      </div>	
      </div>	

<!--end of table section-->


<!--start of modal part-->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vehicle Details</h4>
          
        </div>
        <div class="modal-body">



          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn btn-success">Save</button>
          </form>


         
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of modal part-->

{% endblock %}